.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title-logo {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.login-logo {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.login-title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
.login-form-remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
